<article class="<%= item.layout %> <% if (index==0) { %>title-article<% } %>">
  <div class="post-content">
    <header>
      <%- partial('post/title') %>
      <time datetime="<%= item.date.toDate().toISOString() %>"><%= item.date.format(config.date_format) %></time>
    </header>
    <div class="entry">
      <%- item.content %>
      <div class = more>
        <a href="<%- config.root %><%- item.path %>#more" class="more-link">Read more</a>
      </div>
    </div>
    <footer>
        <%- partial('post/category') %>
        <%- partial('post/tag') %>
    </footer>
  </div>
</article>
