<h2 class="subtitle article-title">Article</h2>
<article class="<%= item.layout %> title-article full-article">
  <div class="post-content">
    <header>
      <%- partial('post/title') %>
      <% if (item.layout != 'page'){ %>
        <time datetime="<%= item.date.toDate().toISOString() %>"><%= item.date.format(config.date_format) %></time>
      <% } %>
    </header>
    <div class="entry">
      <%- item.content %>
    </div>
    <footer>
        <%- partial('post/category') %>
        <%- partial('post/tag') %>
        <%- partial('_partial/recent_posts') %>
        <%- partial('_partial/follow_me') %>
    </footer>
  </div>
</article>

<%- partial('comment') %>
